input, span, p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  border: none;
  font-variant-caps: small-caps;
  text-align: center;
}

.label {
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: black;
}

.name {
  background-color: white;
  font-size: xx-large;
  text-align: center;
  color: black;
}

div .name-line {
  margin-top: 7.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.line {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div .labels {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
}

div .inputs {
  background-color: white;
  color: black;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

#outer-circle {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  border: solid black 1mm;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-info {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: solid black 1mm;
  background-color: black;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  position: relative;
}

#line2 {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

#labels2 {
  margin-left: 5%;
}

#line3 {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

#line4 {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  font-size: xx-large;
  background-color: white;
  color: black;
  width: 100%;
}

#line4 span, #line4 input {
  font-size: x-large;
}

#labels4 {
  margin-top: 1.5%;
}

#xp {
  position: absolute;
  top: 40%;
  left: 14%;
  font-size: x-large;
}

#nextxp {
  position: absolute;
  top: 40%;
  right: 7%;
  font-size: x-large;
}

#race {
  width: 7em;
}

#background {
  width: 7em;
}

#alignment {
  width: 9em;
}

#classes {
  width: 100%;
}

#levelcircle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  border: solid black 1mm;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%,-50%);
}

#levelcircle .level {
  font-size: xx-large;
}

.level.label {
  position: absolute;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
}

#inspiration-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  border: solid black 0.75mm;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%,-50%);
}

#inspiration {
  -webkit-appearance: none;
  background-color: white;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

#inspiration:checked:after {
	content: '\2713';
	font-size: 40px;
	color: black;
}

#inspiration-label {
  position: absolute;
  top: 92.5%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.attribute {
  position: absolute;
  width: 10%;
  /* height: 8%; */
  /* overflow: hidden; */
  align-items: center;
  display: flex;
  border: solid 0.5mm black;
  border-radius: 20px;
  flex-direction: column;
}

#strength {
  top: 55%;
  right: 55%;
}

#dexterity {
  top: 65%;
  right: 55%;
}

#constitution {
  top: 75%;
  right: 55%;
}

#intelligence {
  top: 55%;
  left: 55%;
}

#wisdom {
  top: 65%;
  left: 55%;
}

#charisma {
  top: 75%;
  left: 55%;
}

.attribute-mod {
  background-color: white;
  color: black;
  width: 100%;
  font-size: x-large;
  border: solid 0.5mm black;
  border-radius: 10px;
}

.attribute-label {
  font-size: small;
}

.attribute-value {
  width: 35%;
  position: absolute;
  font-size: small;
  left: 100%;
  top: 67%;
  transform: translate(-50%, -50%);
  border: solid 0.2mm black;
  border-radius: 5px;
  text-align: center;
}

.attribute-value.right {
  left: auto;
  right: 65%;
}

#hp {
  position: absolute;
  left: 68%;
  top: 55%;
  right: 0%;
}

#hp-line, #ac-line, #proficiency-bonus-line, #perception-line, #speed-line, #initiative-line {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.hp-input {
  width: 50%;
}

#hp-separator {
  background-color: white;
  color: black;
  font-size: large;
}

#ac {
  position: absolute;
  left: 68%;
  top: 66%;
  right: 0%;
}

#perception {
  position: absolute;
  left: 0%;
  top: 77%;
  right: 68%;
}

#speed {
  position: absolute;
  left: 0%;
  top: 66%;
  right: 68%;
}

#initiative {
  position: absolute;
  left: 0%;
  top: 55%;
  right: 68%;
}

#hp-label {
  margin-left: 10%;
}

#ac-label {
  margin-left: 8%;
}

.ac-input {
  width: 80%;
}

#proficiency-bonus {
  position: absolute;
  left: 68%;
  top: 77%;
  right: 0%;
}

#proficiency-bonus-label {
  margin-left: 4%;
}

.proficiency-bonus-span {
  margin-left: 30%;
}

.perception-span {
  text-align: right;
  background-color: white;
  color: black;
  margin-right: 25%;
}

#perception-label {
  margin-left: 28%;
}

#initiative-label {
  margin-left: 28%;
}

#perception-line, #speed-line, #initiative-line {
  flex-direction: row-reverse;
}

#speed-label {
  margin-left: 15%;
}

.speed-input {
  width: 80%;
}

.initiative-input {
  width: 90%;
}

.sheet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}